
###############################################################################
# set some files explicitly as binary files
###############################################################################
*.a   binary
